/* Estilos de reset */

*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg");
    background-position: center;
    background-size: contain;
}

.contenedor{
    
    width: 90%;
    margin: auto;
    text-align: center;
    color: blueviolet;
}


img{
    width: 50%;
    border: 1 px solid black;
  
}
.textode{
    color: yellowgreen;
}
