/* Estilos de reset */

*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("https://www.xtrafondos.com/wallpapers/ubuntu-15-vivid-vervet-3441.jpg");
    background-position: center;
    background-size: contain;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor{
    
    width: 90%;
    margin: auto;
    text-align: center;
    color: white;
}


img{
    width: 50%;
    border: 1 px solid black;
  
}
.textode{
    color: violet;
}
.tituloprin{
    color: white;
}
